html, body, #app {
  height: 100%;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

.flex-window {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.centering-window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.centering-window > *,
.flex-window > * {
  flex: 0;
}

.flex-window > .spread {
  flex: 1;
  overflow-y: auto;
}

.buttons-bar {
  margin-top: 0.75rem;
}

.report-editor .box {
  margin: 0.5rem;
}

.report-editor .pic-item .pic-item-main canvas {
  max-width: 100%;
  height: auto;
}

.report-editor.view-mode-thumbs .pic-item {
  display: inline-flex;
  max-height: 15rem;
  width: 15rem;
  vertical-align: top;
  flex-direction: column;
}

.report-editor.view-mode-thumbs .pic-item .pic-item-header {
  flex-grow: 0;
  flex-shrink: 0;
}

.report-editor.view-mode-thumbs .pic-item .pic-item-main {
  flex-grow: 1;
  flex-shrink: 1;
  display: flex;
  justify-content: center;
  overflow-y: hidden;
}

.report-editor.view-mode-thumbs .pic-item .pic-item-main canvas {
  display: block;
  object-fit: scale-down;
}

.report-editor.view-mode-large .hide-on-view-mode-large,
.report-editor.view-mode-thumbs .hide-on-view-mode-thumbs {
  display: none;
}

.pic-list li > p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.pic-list .pic-list-number {
  min-width: 1.5rem;
  margin-right: 0.5rem;
}

.pic-list .pic-list-icons svg {
  width: 1em;
  margin: 2px;
}

.pic-list .pic-list-icons {
  margin-left: 1.5rem;
}

.pic-list .sortable-ghost {
  box-shadow: 0 0 0.5rem hsl(171, 100%, 41%); /* primary color */
}

.my-navbar {
  box-shadow: 0 0.2rem 0.5em lightslategray;
  padding: 0.5rem;
  z-index: 500;
}

.my-navbar-span {
    background-color: transparent;
    border: none;
    cursor: inherit;
}

.settings-section {
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.settings-section .title {
  text-align: center;
}

.splash-screen {
  font-size: 1.5rem;
}

.shadowed {
  position: relative;
  filter: blur(1px) grayscale(1);
}

.shadowed:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  background-color: lightsteelblue;
}

.no-break {
  white-space: nowrap;
}

.text-selectable {
  user-select: text;
}

.watermark-preview {
  display: block;
  max-height: 7rem;
  max-width: 15rem;
}
