html, body, #app {
  height: 100%;
  margin: 0;
  overflow: hidden;
  user-select: none;
}

.flex-window {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-window > * {
  flex: 0;
}

.flex-window > .spread {
  flex: 1;
  overflow-y: auto;
}

.report-editor .box {
  margin: 0.5rem;
}

.pic-list li > p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.pic-list .pic-list-icons svg {
  width: 1em;
  margin: 2px;
}

.pic-list .pic-list-icons {
  margin-left: 1.5rem;
}

.my-navbar {
  box-shadow: 0 0.2rem 0.5em lightslategray;
  padding: 0.5rem;
  z-index: 500;
}

.my-navbar-span {
    background-color: transparent;
    border: none;
    cursor: inherit;
}

.settings-section {
  margin-top: 2em;
  margin-bottom: 1em;
  margin-left: 1em;
  margin-right: 1em;
}

.settings-section .title {
  text-align: center;
}

.splash-screen {
  font-size: 1.5rem;
}

.shadowed {
  position: relative;
  filter: blur(1px) grayscale(1);
}

.shadowed:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.3;
  background-color: lightsteelblue;
}

.no-break {
  white-space: nowrap;
}
