html, body, #app {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.flex-window {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.flex-window > * {
  flex: 0;
}

.flex-window > .spread {
  flex: 1;
  overflow-y: auto;
}

.pic-list > .box {
  margin: 0.5rem;
}

.pic-list li > p:not(:last-child) {
  margin-bottom: 0.5rem;
}

.my-navbar {
  box-shadow: 0 0.2rem 0.5em lightslategray;
  padding: 0.5rem;
  z-index: 500;
}
