Package: fotorelacjonusz
Version: x.x.x
Section: net
Priority: optional
Architecture: amd64
Depends: libatomic1, libc6
Maintainer: Sebastian Skalacki <skalee@gmail.com>
Homepage: https://github.com/fotorelacjonusz/fotorelacjonusz-ng
Vcs-Git: https://github.com/fotorelacjonusz/fotorelacjonusz-ng.git
Description: Community application for posting photos to SkyscraperCity.com.
 A common activity of Polish section on SkyscraperCity.com is posting extensive
 photo reports of road construction progress and other building sites.
 This application is made to facilitate this process, just add photos straight
 from your disk or memory card, click a few times, and photos end up
 on the forum.
