name: Tests

on: [push, pull_request]

jobs:
  build:
    name: Jasmine tests
    runs-on: ubuntu-latest
    timeout-minutes: 3

    steps:
      - uses: actions/checkout@v1
      - name: Set up Node.js
        uses: actions/setup-node@v1.1.0
        with:
          node-version: 13.10
      - name: Install dependencies
        run: npm install
      - name: Validate package.json
        run: node_modules/.bin/pjv --spec npm --warnings --recommendations
      - name: Run tests
        run: npm test

  check-style:
    name: Check code style
    runs-on: ubuntu-latest
    timeout-minutes: 3

    steps:
      - uses: actions/checkout@v1
      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 12.x
      - name: Install dependencies
        run: npm install
      - name: Run linter
        run: npm run-script lint
